@charset "UTF-8";

/* 맨 위에 배너 */
.banner{
	text-align: center;
	margin-bottom: 50px;
}

/* 메누 */
.menu{
	font-size: 25px;
	text-align: center;
	margin-bottom: 40px;
}

/* 메뉴 항목 */
.menu a{
    text-decoration: none;
    color: white;
    border: solid 1px #D1ECFF;
    background-color: #D1ECFF; 
    padding: 7px 10px;
    border-radius: 18px;
    
}


.show{
	text-align:center;
	font-size: 25px;
	margin: 0 auto;
	border: solid 1px #EFEFEF;
	width: 1300px;
	height: 900px;
	background-color: #D1ECFF;
}

.introduce{
	margin: 0 auto;
	margin-top:100px;
	width: 1000px;
	height: 600px;
	background-color:white;
	color: #D1ECFF;
	font-weight: bold;
	font-size: 30px;
	border-radius: 20px;
}


/* ----------로그인---------- */

.login{
	text-align:center;
	border: solid 1px white;
	font-size: 25px;
	width: 400px;
	height: 250px;
	background-color: white;
	margin: 100px auto;
	border-radius: 20px;
}

.join{
	padding: 30px;
	text-align:center;
	border: solid 1px white;
	font-size: 22px;
	width: 400px;
	height: 500px;
	background-color: white;
	margin: 100px auto;
	border-radius: 20px;
}


.loginbutton , .joinbutton {
	text-decoration: none;
	font-size: 20px;
	color: white;
    border: solid 1px #D1ECFF;
    background-color: #D1ECFF; 
    padding: 4px 7px;
    border-radius: 10px;
}

#send , #check_id{
	text-decoration: none;
	font-size: 20px;
	color: white;
    border: solid 1px #D1ECFF;
    background-color: #D1ECFF; 
    padding: 4px 7px;
    border-radius: 10px;
}

/* ---------- 스터디 ---------- */

.ms_table{
	border-radius: 10px;
	background-color: white;
	padding: 20px;
	border-spacing: 10px;
	margin: 70px auto;
	
}

a{
	text-decoration: none;
}

#gostudy{
	font-size: 30px;
	color: white;
    border: solid 1px white;
    background-color: #D1ECFF; 
    padding: 4px 7px;
    border-radius: 10px;
    font-weight: bold;
}

#add_restudy , #add_newstudy, #submit, #remove_newstudy ,#remove_restudy {
	font-size: 20px;
	color: white;
    border: solid 1px white;
    background-color: #D1ECFF; 
    padding: 4px 7px;
    border-radius: 10px;
    font-weight: bold;
}

.study{
	margin-top:50px;
	font-size: 25px;
}


#new{
	float: left;
	margin-left: 150px;
	margin-top: 10px;

	
}
#re{
	float: left;
	margin-left: 150px;
	margin-top: 10px;

}


#in_keyword{
	text-align:center;
	width: 90px;
	height: 30px;
	margin-bottom: 5px;
}

#in_content{
	text-align:center;
	width: 400px;
	height: 30px;
}

